

.HeroContent{
    font-family: Poppins;
font-size: 20px;
font-weight: 250;
line-height: 50px;
letter-spacing: 0px;
text-align: center;
}


.wrapper{
    height: 270px;
    
   
    display: flex;
    padding:10px;
    justify-content: center;
    column-gap: 30px;
    align-items: center;
    margin-top: 40px;
    margin-left: 327px;

}